<ion-view view-title="Office Ergonomics">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Welcome to Office Ergonomics</div>
      <div class="item item-body">
        <div>
          Please use this app to collect the physical measurements required for conducting an office assessement.
        </div>
        
    <!-- Added in camera function -->
        <div>
          <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
          <img ng-show="imgURI === undefined" ng-src="http://placehold.it/300x300">
          <button class="button" ng-click="takePicture()">Take Picture</button>
        </div> 

      </div>
    </div>
  </ion-content>
</ion-view>
