<ion-view view-title="Assessment">

<body ng-app="" ng-controller="formController">
<ion-content padding="true">
  
  <form novalidate>
    Patella Height:<br>
    <input type="number" ng-model="user.knee"><br>
    Seated Elbow Height:<br>
    <input type="number" ng-model="user.elbow"><br>
    Workstation Height:<br>
    <input type="number" ng-model="user.workstation"><br>
    Input Device Height:<br>
    <input type="number" ng-model="user.inputdev"><br>
    Seated Eye Height:<br>
    <input type="number" ng-model="user.eye"><br>
    Monitor Height:<br>
    <input type="number" ng-model="user.monitor"><br>

    <br>

    <button ng-click="reset()">RESET</button>
  </form>

</div>


      <!-- Data Collection Information 
      <label class="item item-input">
      <span class="input-label">Position</span>
      <input type="text">
      </label>

      <label class="item item-input">
      <span class="input-label">Platella Height</span>
      <input type="number">
      </label>
      
      <label class="item item-input">
      <span class="input-label">Seated Elbow Height</span>
      <input type="number">
      </label>

      <label class="item item-input">
      <span class="input-label">Workstation Height</span>
      <input type="number">
      </label>

      <label class="item item-input">
      <span class="input-label">Input Device Height</span>
      <input type="number">
      </label>

      <label class="item item-input">
      <span class="input-label">Seated Eye Height</span>
      <input type="number">
      </label>

      <label class="item item-input">
      <span class="input-label">Monitor Height</span>
      <input type="number">
      </label>
      -->

</ion-content>
</body>
<!-- Template Information
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
-->

</ion-view>
